<div class="contenedor">
  <div class="interior">
    <div id="calorias" class="calculadora" *ngIf="valor === 'calorias'">
      <form>


        <div class="input-container">
          <input [(ngModel)]="altura" name="altura" placeholder="Altura" class="input-field" type="text">
          <label for="input-field" class="input-label">Altura</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="peso" name="peso" placeholder="Peso" class="input-field" type="text">
          <label for="input-field" class="input-label">Peso</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="edad" name="edad" placeholder="Edad" class="input-field" type="number">
          <label for="input-field" class="input-label">Edad</label>
          <span class="input-highlight"></span>
        </div>



        <label>Genero: </label>
        <div class="contenedor-botones">
          <button (click)="genero = 1" class="boton-genero" [class.seleccionado]="genero === 1">
            <span>&#9794;</span> Masculino
          </button>
          <button (click)="genero = 0" class="boton-genero" [class.seleccionado]="genero === 0">
            <span>&#9792;</span> Femenino
          </button>
        </div>


        <br>

        <label> Nivel de actividad física: </label>

        <div class="contenedor-botones">
          <button (click)="nivelActividad = 1.2" class="boton-genero" [class.seleccionado]="nivelActividad === 1.2">
            Sedentario</button>
          <button (click)="nivelActividad = 1.375" class="boton-genero" [class.seleccionado]="nivelActividad === 1.375">
            poco </button>
          <button (click)="nivelActividad = 1.55" class="boton-genero"
            [class.seleccionado]="nivelActividad === 1.55">medio </button>
          <button (click)="nivelActividad = 1.725" class="boton-genero" [class.seleccionado]="nivelActividad === 1.725">
            alto</button>
          <button (click)="nivelActividad = 1.9" class="boton-genero" [class.seleccionado]="nivelActividad === 1.9">
            elite
          </button>

        </div>

        <br>
        <div class="botones">
          <button (click)="calcular('calorias')">Calcular</button>
          <button type="reset">Limpiar</button>
        </div>

      </form>

      <p *ngIf="resultado">Calorias de mantenimiento: {{resultado.toFixed(2)}} Kcal</p>
      <p *ngIf="resultado">Calorias de deficit: {{(resultado-500).toFixed(2)}} Kcal</p>
      <p *ngIf="resultado">Calorias de superávit: {{(resultado+500).toFixed(2)}} Kcal</p>



    </div>

    <div id="imc" class="calculadora" *ngIf="valor === 'imc'">
      <form>
        <div class="input-container">
          <input [(ngModel)]="altura" name="altura" placeholder="Altura" class="input-field" type="text">
          <label for="input-field" class="input-label">Altura</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="peso" name="peso" placeholder="Peso" class="input-field" type="text">
          <label for="input-field" class="input-label">Peso</label>
          <span class="input-highlight"></span>
        </div>


        <br>
        <div class="botones">
          <button (click)="calcular('imc')">Calcular</button>
          <button type="reset">Limpiar</button>
        </div>

      </form>

      <p *ngIf="resultado">IMC: {{resultado.toFixed(1)}} </p>
      <!-- <div class="balls" *ngIf="balls">
        <span class="loader">
          <span class="loader_ball"></span>
          <span class="loader_ball"></span>
          <span class="loader_ball"></span>
        </span>
        <h3 style="text-align: center;">Espere por favor, cargando sus recomendaciones!</h3>
      </div>

      <div [innerHTML]="iaR"></div> -->

    </div>

    <div id="pliegues" class="calculadora" *ngIf="valor === 'pliegues'">
      <form>


        <div class="input-container">
          <label>Genero</label>

          <select [(ngModel)]="genero" name="genero"   class="input-field"  >
            <option value="" selected>Selecciona género</option>
            <option value="1">Hombre</option>
            <option value="0">Mujer</option>
          </select>
          <label for="input-field" class="input-label">Genero</label>
          <span class="input-highlight"></span>

        </div>

        <div class="input-container">
          <input [(ngModel)]="edad" name="edad" placeholder="Edad" class="input-field" type="number">
          <label for="input-field" class="input-label">Edad</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="plieguebicipal" name="plieguebicipal" placeholder="Pliegue Bicipal" class="input-field"
            type="number">
          <label for="input-field" class="input-label">Pliegue Bicipal</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="pliegueabdominal" name="pliegueabdominal" placeholder="Pliegue abdominal"
            class="input-field" type="number">
          <label for="input-field" class="input-label">Pliegue abdominal</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="plieguecuadricipital" name="plieguecuadricipital" placeholder="Pliegue Cuadricipital"
            class="input-field" type="number">
          <label for="input-field" class="input-label">Pliegue Cuadricipital</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="pliegueperoneal" name="pliegueperoneal" placeholder="Pliegue Peroneal" class="input-field"
            type="number">
          <label for="input-field" class="input-label">Pliegue Peroneal</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="pliguesubescapular" name="pliguesubescapular" placeholder="Pliegue Subescapular"
            class="input-field" type="number">
          <label for="input-field" class="input-label">Pliegue Subescapular</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="plieguetricipital" name="plieguetricipital" placeholder="Pliegue Tricipital"
            class="input-field" type="number">
          <label for="input-field" class="input-label">Pliegue Tricipital</label>
          <span class="input-highlight"></span>
        </div>

        <div class="input-container">
          <input [(ngModel)]="plieguesuprailiaco" name="plieguesuprailiaco" placeholder="Pliegue Suprailiaco"
            class="input-field" type="number">
          <label for="input-field" class="input-label">Pliegue Suprailiaco</label>
          <span class="input-highlight"></span>
        </div>

        <br>
        <div class="botones">
          <button (click)="calcular('pliegues')">Calcular</button>
          <button type="reset">Limpiar</button>
        </div>

      </form>
      <div class="resultadosCalculadora" *ngIf="resultado">
        <p *ngIf="resultado">Densidad Corporal: {{resultado.toFixed(3)}} </p>
        <p *ngIf="resultado">Porcentaje de grasa corporal: {{porcentaje.toFixed(3)}}</p>
      </div>


    </div>
    <div id="intercambios" class="calculadora" *ngIf="valor === 'intercambios'">
      <div class="calculadoraCalorias" *ngIf="!cerrarCalculadora ">
        <form>
          <div class="input-container">
            <input [(ngModel)]="altura" name="altura" placeholder="Altura" class="input-field" type="number">
            <label for="input-field" class="input-label">Altura</label>
            <span class="input-highlight"></span>
          </div>

          <div class="input-container">
            <input [(ngModel)]="peso" name="peso" placeholder="Peso" class="input-field" type="number">
            <label for="input-field" class="input-label">Peso</label>
            <span class="input-highlight"></span>
          </div>


          <div class="input-container">
            <input [(ngModel)]="edad" name="edad" placeholder="Edad" class="input-field" type="number">
            <label for="input-field" class="input-label">Edad</label>
            <span class="input-highlight"></span>
          </div>



          <label>Genero: </label>
          <div class="contenedor-botones">
            <button (click)="genero = 1" class="boton-genero" [class.seleccionado]="genero === 1">
              <span>&#9794;</span> Masculino
            </button>
            <button (click)="genero = 0" class="boton-genero" [class.seleccionado]="genero === 0">
              <span>&#9792;</span> Femenino
            </button>
          </div>


          <br>

          <label> Nivel de actividad física: </label>

          <div class="contenedor-botones">
            <button (click)="nivelActividad = 1.2" class="boton-genero" [class.seleccionado]="nivelActividad === 1.2">
              sedentario </button>
            <button (click)="nivelActividad = 1.375" class="boton-genero"
              [class.seleccionado]="nivelActividad === 1.375"> muy bajo </button>
            <button (click)="nivelActividad = 1.55" class="boton-genero" [class.seleccionado]="nivelActividad === 1.55">
              medio</button>
            <button (click)="nivelActividad = 1.725" class="boton-genero"
              [class.seleccionado]="nivelActividad === 1.725"> alto</button>
            <button (click)="nivelActividad = 1.9" class="boton-genero" [class.seleccionado]="nivelActividad === 1.9">
              élite
            </button>

          </div>


          <div class="input-container">
            <input [(ngModel)]="proteina" name="proteina" placeholder="Proteina" class="input-field" type="number">
            <label for="input-field" class="input-label">% Proteina</label>
            <span class="input-highlight"></span>
          </div>

          <div class="input-container">
            <input [(ngModel)]="hidrato" name="hidrato" placeholder="Hidratos" class="input-field" type="number">
            <label for="input-field" class="input-label">% Hidratos</label>
            <span class="input-highlight"></span>
          </div>

          <div class="botones">
            <button (click)="calcular('intercambios')">Calcular</button>
            <button type="reset">Limpiar</button>
          </div>
        </form>



      </div>
      <p *ngIf="resultado">Calorias diarias: {{resultado.toFixed(3)}} Kcal </p>
      <p *ngIf="resultado"><strong>Proteinas</strong> {{proteina}}%: {{(resultado*(proteina/100)).toFixed(2)}} Kcal -
        {{((resultado*(proteina/100))/4).toFixed(0)}} Gramos</p>
      <p *ngIf="resultado"><strong>Hidratos</strong> {{hidrato}}%: {{(resultado*(hidrato/100)).toFixed(2)}} Kcal -
        {{(resultado*(hidrato/100)/4).toFixed(0)}} Gramos</p>
      <p *ngIf="resultado"><strong>Grasas</strong> {{grasa}}%: {{(resultado*(grasa/100)).toFixed(2)}} Kcal -
        {{((resultado*(grasa/100))/9).toFixed(0)}} Gramos</p>

      <br>

      <div class="calculadoraCalorias" *ngIf="cerrarIntercambiosHidratos">

        <form>
          <div class="input-container">
            <input [(ngModel)]="lacteosenteros" name="lacteosenteros" placeholder="lacteos Enteros" class="input-field" type="number">
            <label for="input-field" class="input-label">lacteos Enteros</label>
            <span class="input-highlight"></span>
          </div>

          <div class="input-container">
            <input [(ngModel)]="lacteossemidesnatados" name="lacteossemidesnatados" placeholder=" lacteos Semidesnatados:" class="input-field" type="number">
            <label for="input-field" class="input-label"> lacteos Semidesnatados:</label>
            <span class="input-highlight"></span>
          </div>


          <div class="input-container">
            <input [(ngModel)]="lacteosdesnatados" name="lacteosdesnatados" placeholder="lacteos Desnatados:" class="input-field" type="number">
            <label for="input-field" class="input-label">lacteos Desnatados:</label>
            <span class="input-highlight"></span>
          </div>


          <div class="input-container">
            <input [(ngModel)]="lacteosazucarados" name="lacteosazucarados" placeholder="lacteos azucarados:" class="input-field" type="number">
            <label for="input-field" class="input-label">lacteos azucarados:</label>
            <span class="input-highlight"></span>
          </div>


          <div class="input-container">
            <input [(ngModel)]="postreslacteos" name="postreslacteos" placeholder="postres lacteos:" class="input-field" type="number">
            <label for="input-field" class="input-label">postres lacteos:</label>
            <span class="input-highlight"></span>
          </div>

          <div class="input-container">
            <input [(ngModel)]="hortalizasyverduras" name="hortalizasyverduras" placeholder="hortalizas y verduras:" class="input-field" type="number">
            <label for="input-field" class="input-label">hortalizas y verduras:</label>
            <span class="input-highlight"></span>
          </div>

          <div class="input-container">
            <input [(ngModel)]="fruta" name="fruta" placeholder="fruta:" class="input-field" type="number">
            <label for="input-field" class="input-label">fruta:</label>
            <span class="input-highlight"></span>
          </div>


          <div class="input-container">
            <input [(ngModel)]="azucares" name="azucares" placeholder="azucares:" class="input-field" type="number">
            <label for="input-field" class="input-label">azucares:</label>
            <span class="input-highlight"></span>
          </div>





          <div class="botones">
            <button (click)="calcularIntercambiosHidratos()">Calcular</button>
            <button type="reset">Limpiar</button>
          </div>
        </form>
      </div>
      <p *ngIf="intercambioHS"><strong>Intercambios de Hidratos: </strong>{{intercambioHS.toFixed(0)}}</p>
      <p *ngIf="lacteosenteros">Intercambios de lacteos enteros: {{lacteosenteros}}</p>
      <p *ngIf="lacteossemidesnatados">Intercambios de lacteos Semidesnatados {{lacteossemidesnatados}}</p>
      <p *ngIf="lacteosdesnatados">Intercambios de lacteos desnatados: {{lacteosdesnatados}}</p>
      <p *ngIf="lacteosazucarados">Intercambios de lacteos azucarados: {{lacteosazucarados}}</p>
      <p *ngIf="postreslacteos">Intercambios de postres lacteos: {{postreslacteos}}</p>
      <p *ngIf="hortalizasyverduras">Intercambios de verduras y hortalizas: {{hortalizasyverduras}}</p>
      <p *ngIf="fruta">Intercambios de fruta: {{fruta}}</p>
      <p *ngIf="azucares">Intercambios de azucares: {{azucares}}</p>


      <p *ngIf="IntercambiosCereales">Intercambios de Cereales: {{IntercambiosCereales}}</p>

      <p><strong>Intecambios de proteina:
        </strong>{{alimentosproteicosI+alimentosproteicosII+alimentosproteicosIII+alimentosproteicosIV+alimentosproteicosV}}
      </p>
      <p *ngIf="alimentosproteicosI">Intercambios de alimentos proteicos I: {{alimentosproteicosI.toFixed(0)}}</p>
      <p *ngIf="alimentosproteicosII">Intercambios de alimentos proteicos II: {{alimentosproteicosII.toFixed(0)}}</p>
      <p *ngIf="alimentosproteicosIII">Intercambios de alimentos proteicos III: {{alimentosproteicosIII.toFixed(0)}}</p>
      <p *ngIf="alimentosproteicosIV">Intercambios de alimentos proteicos IV: {{alimentosproteicosIV.toFixed(0)}}</p>
      <p *ngIf="alimentosproteicosV">Intercambios de alimentos proteicos V: {{alimentosproteicosV.toFixed(0)}}</p>


      <p *ngIf="intercambiosGrasas"><strong>Intercambios de Grasas:</strong> {{intercambiosGrasas.toFixed(0)}}</p>

      <div class="calculadoraCalorias" *ngIf="cerrarIntercambiosProteinas">
        <form>

          <p><strong>Intercambios de proteinas: {{intercambiosProteinas.toFixed(0)}}</strong></p>

          <div class="input-container">
            <input [(ngModel)]="alimentosproteicosI" name="alimentosproteicosI" placeholder="alimentos proteicos I" class="input-field" type="number">
            <label for="input-field" class="input-label">alimentos proteicos I</label>
            <span class="input-highlight"></span>
          </div>

          <label >alimentos proteicos II</label>

          <div class="input-container">
            <input [(ngModel)]="alimentosproteicosII" name="alimentosproteicosII" placeholder="alimentos proteicos II" class="input-field" type="number">
            <label for="input-field" class="input-label">alimentos proteicos II</label>
            <span class="input-highlight"></span>
          </div>

          <div class="input-container">
            <input [(ngModel)]="alimentosproteicosIII" name="alimentosproteicosIII" placeholder="alimentos proteicos III" class="input-field" type="number">
            <label for="input-field" class="input-label">alimentos proteicos III</label>
            <span class="input-highlight"></span>
          </div>

          <div class="input-container">
            <input [(ngModel)]="alimentosproteicosIV" name="alimentosproteicosIV" placeholder="alimentos proteicos IV" class="input-field" type="number">
            <label for="input-field" class="input-label">alimentos proteicos IV</label>
            <span class="input-highlight"></span>
          </div>


          <div class="input-container">
            <input [(ngModel)]="alimentosproteicosV" name="alimentosproteicosV" placeholder="alimentos proteicos V" class="input-field" type="number">
            <label for="input-field" class="input-label">alimentos proteicos V</label>
            <span class="input-highlight"></span>
          </div>






          <div class="botones">
            <button (click)="calcularIntercambiosProteinas()">Calcular</button>
            <button type="reset">Limpiar</button>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>
