<div class="contenedor">
  <div class="interno">
    <header>
      <p>{{ Receta[0].titulo }}</p>
    </header>
    <div class="contenido">
      <div class="imgB">
        <img src="{{ Receta[0].imagen }}" alt="">
      </div>
      <div class="informacion">
        <p>Enfermedades: {{ selectedOption.join(', ')}}</p>
        <p>Tiempo de preparación: {{ Receta[0].tiempo }}</p>
        <p>Macros: P: {{ Receta[0].macronutrientes.proteinas }} G: {{ Receta[0].macronutrientes.grasas }} HC: {{ Receta[0].macronutrientes.HC }}</p>
        <p>Ingredientes: {{Receta[0].ingredientes}}</p>
        <p>Receta: {{ Receta[0].receta }}</p>
      </div>
    </div>
  </div>
</div>
