.contenedor {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}


.interno {
  width: 80%;
}

header {
  font-size: xx-large;
  padding: 30px;
  text-align: center;
  border-bottom: 2px solid gray;
}

.contenido {
  margin-top: 20px;
   width: 100%;
 }


img {
  max-width: 100%;
  width: 100%;
}

.informacion p {
  max-width: 100%;
  font-size: large;
  padding: 10px;
}

.receta {
  font-size: 1.2em;
}

li {
  font-size: large;
  padding: 10px;
}
