.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.interno {
  width: 80%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(50% - 20px);
   margin-bottom: 20px;
  box-sizing: border-box;
  text-align: center;
  background: white;
  border-radius: 30px;
  box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;
  transition: 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
}

.card-a {
  cursor: pointer;
  color: #333;
  text-decoration: none;
  display: block;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.card-image {
  position: relative;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1px);
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  z-index: 1;
  color: white;
}

.card-content h2 {
  font-size: 50px;
  margin-top: 10px;
  font-weight: 450;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
  line-height: normal;
}

.card-content p {
  font-size: 20px;
  margin-top: 5px;
  font-weight: 450;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 1);
}


.filtrado {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-filtrado {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 20px 50px;
  font-size: large;
}

.btn-filtrado:focus,
.btn-filtrado:hover {
  border-bottom: 2px solid #008bf8;
}

.btn-filtrado.selected {
  border-bottom: 2px solid 008bf8;
}

.btn-aniadir {
  padding: 10px 30px;
  font-size: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #008bf8;
}

.btn-aniadir:hover {
  transform: scale(1.3);
}

.btnBorradDiv {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttonOpt {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  border: none;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
  cursor: pointer;
  transition-duration: .3s;
  overflow: hidden;
  position: relative;
}


.svgIcon {
  width: 12px;
  transition-duration: .3s;
}

.svgIcon path {
  fill: white;
}

.buttonOpt:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: .3s;
  background-color: rgb(255, 69, 69);
  align-items: center;
}

.buttonOpt:hover .svgIcon {
  width: 50px;
  transition-duration: .3s;
  transform: translateY(60%);
}

.buttonOpt::before {
  position: absolute;
  top: -20px;
  content: "Delete";
  color: white;
  transition-duration: .3s;
  font-size: 2px;
}

.buttonOpt:hover::before {
  font-size: 13px;
  opacity: 1;
  transform: translateY(30px);
  transition-duration: .3s;
}



/* Media query para formato móvil */
@media (max-width: 767px) {
  .contenedor {
    width: 100%;
  }

  .interno {
    width: 100%;
  }

  .card-container {
    width: 100%;
  }

  .card {
    width: 100%;
    /* Tarjeta ocupa todo el ancho disponible en formato móvil */
  }

  .filtrado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .btn-filtrado {
    margin: 5px;
    font-size: 12px;
  }
}
