<div class="contenedor">
  <div class="tabla">
      <table>
        <thead>
          <tr>
            <th>Grupo de alimentos</th>
            <th>Cantidad recomendada (adultos)</th>
            <th>Equivalencias</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Frutas y verduras</td>
            <td>5 raciones diarias</td>
            <td>1 ración = 80g</td>
          </tr>
          <tr>
            <td>Cereales y derivados</td>
            <td>4-6 raciones diarias</td>
            <td>1 ración = 50g (pan, cereales) o 100g (pasta, arroz)</td>
          </tr>
          <tr>
            <td>Leche y derivados</td>
            <td>2-4 raciones diarias</td>
            <td>1 ración = 200ml (leche), 125g (yogur) o 30g (queso)</td>
          </tr>
          <tr>
            <td>Carne, pescado y huevos</td>
            <td>2-4 raciones diarias</td>
            <td>1 ración = 100g (carne, pescado) o 2 huevos</td>
          </tr>
          <tr>
            <td>Legumbres</td>
            <td>2-4 raciones semanales</td>
            <td>1 ración = 200g (cocidas)</td>
          </tr>
          <tr>
            <td>Frutos secos</td>
            <td>2-4 raciones semanales</td>
            <td>1 ración = 30g</td>
          </tr>
          <tr>
            <td>Grasas y aceites</td>
            <td>Limitar el consumo</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Azúcares</td>
            <td>Limitar el consumo</td>
            <td>-</td>
          </tr>
          <tr>
            <td>Bebidas</td>
            <td>2 litros diarios</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>

    </div>
</div>
