


.navbar {
  top: 0;
  left: 0;
  width: 100%;
  height: 13vh;
  background-color: #181818;
  z-index: 999;
}

.navbar.transparent {
  background-color: transparent;
  /* Color de fondo transparente si es home */
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
  margin-left: 50px;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.animacion-cesta {
  color: #008bf8 !important;
  animation-name: animacion-escala;
  animation-duration: 2s;
}

@keyframes animacion-escala {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}




.bar {
  width: 100%;
  height: 3px;
  background-color: white;
  margin: 3px 0;
  transition: background-color 0.3s ease;
}

.hamburger-menu.active .bar {
  background-color: #fff;
  /* Cambia el color cuando el menú está activo */
}

.logo {
  width: 100px;
  height: 100px;
  margin-left: 50px;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  width: 100%;
}

.search-container {
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: left;
  margin-right: 150px;
}

.search-container p {
  color: white;
  font-size: xx-large;
  padding-right: 20px;
}

.search-container button {
  padding: 15px ;
  font-size: x-large;
  border-radius: 15px;
  border: #008bf8 3px double;
  background-color: transparent;
  color: white;
  }

 .search-container button:hover {
  color: white;
  background-color: #008bf8;
  transform: all 0.3s linear;
 }


.search-container input:focus {
  width: 250px;
  font-size: 22px;
}

.search-input {
  width: 100%;

  padding: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
}

.profile-icon,
.cart-icon {
  margin-left: 20px;

}

.cart-icon a {
  display: none;
}





.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100vh;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 999999;

}

.sidebar.show {
  transform: translateX(0);
}

.sidebar-icon {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;

}

.sidebar-icon mat-icon {
  margin: 20px;
  cursor: pointer;
}

.sidebar-family {
  display: flex;
}

.sidebar-family a {
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #555555;
  padding: 5px;
  border-bottom: 2px solid transparent;
}

.sidebar-family a.selected {
  color: #008bf8;
  border-color: #008bf8;
  font-weight: 400;

}

.sidebar-family a:hover {
  color: #008bf8;
  border-color: #008bf8;
  font-weight: 400;
}


.sidebar-info {
  margin-top: 50px;
  width: 100%;
  height: auto;
}


.informacion {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  flex-direction: column;
  border-top: 1px solid #181818;
  padding-top: 30px;
}

.informacion a {
  display: block;
  padding: 20px 40px;
  cursor: pointer;
  font-size: large;
}

.informacion a:hover {
  color: #008bf8;
  cursor: pointer;
}


li {
  list-style: none;
}

.buscador {
  opacity: 0;
}



@media screen and (max-width: 720px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999999;

  }

  .navbar-left {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }

  .logo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }

  .navbar-right {
    display: inline;
    align-items: center;
    justify-content:  flex-end;
    margin-right: 0px;
    width: 30%;
   }

   .cart-icon a {
    margin-right: 10px;
    width: 100%;
    border: 1px solid red;
   }


  .search-container input, .profile-icon {
    display: none;
  }

  .search-container p {
    display: none;
  }

  .search-container button {
    display: none;
     }



  .searchMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buscador {
    opacity: 1;
  }


  .search-input-mobile{
    margin: 10px;
    padding: 20px 10px;
    width: 80%;
    border: none;
    border-bottom: 1px solid #181818;
    outline: none;
    font-size: 12px;
  transition: font-size 0.3s;
  }

  .search-input-mobile:focus {
    font-size: 20px;
  }
}
