<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-left">
      <div class="hamburger-menu" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <a href=""><img class="logo" src="./assets/logo.webp" alt="Logo"></a>
    </div>
    <div class="navbar-right">
      <div class="search-container">
        <a (click)="go('calorias')">
          <img src="../../../assets/calorias.png">
        </a>
        <a (click)="go('imc')">
          <img src="../../../assets/imc.png">
        </a>
        <a (click)="go('pliegues')">
          <img src="../../../assets/pliegue.png">
        </a>
        <a (click)="go('intercambios')">
          <img src="../../../assets/intercambios.webp">
        </a>
        <a (click)="go('recetas')">
          <img src="../../../assets/recetas.png">
        </a>
        <a (click)="go('recomendaciones')">
          <img src="../../../assets/recomendaciones.png">
        </a>
       </div>
      <div class="icon-container" *ngIf="logged">
         <button class="Btn" (click)="adminUser()">

          <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>

          <div class="text">Logout</div>
        </button>



      </div>
    </div>

  </div>
  <div class="sidebar" [ngClass]="{'show': showMenu}">
    <div class="sidebar-icon">
      <mat-icon (click)="toggleMenu()">X</mat-icon>
    </div>
    <div class="sidebar-family">
      <a (click)="selectItem(0)" [class.selected]="selectedIndex === 0">Calculadoras</a>
      <a (click)="go('recetas')">Recetas</a>
      <a (click)="go('recomendaciones')">recomendaciones</a>
    </div>
    <div class="sidebar-info">
      <div class="informacion" *ngIf="selectedIndex === 0">
        <a (click)="go('calorias')">Calculadora Calorias</a>
        <a (click)="go('imc')">Calculadora IMC</a>
        <a (click)="go('pliegues')">Calculadora pliegues</a>
        <a (click)="go('intercambios')">Calculadora de dieta por intercambios</a>
      </div>





    </div>


  </div>
</nav>
